.n69m0{vertical-align: -0.09ex;}
.n69m1{vertical-align: -0.566ex;}
.n69m2{vertical-align: -0.357ex;}
.n69m3{vertical-align: -0.777ex;}
.n69m4{vertical-align: 0;}
.n69m5{vertical-align: -0.663ex;}
.n69m6{vertical-align: -0.023ex;}
.n69m7{vertical-align: -0.025ex;}
.n69m8{vertical-align: -0.375ex;}
.n69m9{vertical-align: -0.471ex;}
.n69m10{vertical-align: -0.339ex;}
.n69m11{vertical-align: -0.186ex;}
.n69m12{vertical-align: -0.669ex;}
.n69m13{vertical-align: -0.312ex;}
.n69m14{vertical-align: -0.991ex;}
.n69m15{vertical-align: -0.043ex;}
.n69m16{vertical-align: -0.05ex;}
.n69m17{vertical-align: -0.493ex;}
.n69m18{vertical-align: -0.464ex;}
.n69m19{vertical-align: -0.37ex;}
.n69m20{vertical-align: -0.666ex;}
.n69m21{vertical-align: -0.914ex;}
.n69m22{vertical-align: -0.956ex;}
.n69m23{vertical-align: -0.029ex;}
.n69m24{vertical-align: -0.439ex;}
.n69m25{vertical-align: -0.486ex;}
.n69m26{vertical-align: -0.708ex;}
.n69m27{vertical-align: -0.462ex;}
.n69m28{vertical-align: -0.048ex;}
.n69m29{vertical-align: -0.65ex;}
.n69m30{vertical-align: -0.489ex;}
.n69m31{vertical-align: -0.685ex;}
.n69m32{vertical-align: -0.983ex;}
.n69m33{vertical-align: -0.667ex;}
.n69m34{vertical-align: -0.373ex;}
.n69m35{vertical-align: -0.791ex;}
.n69m36{vertical-align: -0.8ex;}
.n69m37{vertical-align: -0.355ex;}
.n69m38{vertical-align: -0.576ex;}
.n69m39{vertical-align: -0.623ex;}
.n69m40{vertical-align: -2.439ex;}
.n69m41{vertical-align: -0.727ex;}
.n69m42{vertical-align: -3.664ex;}
.n69m43{vertical-align: -0.688ex;}
.n69m44{vertical-align: -2.042ex;}
.n69m45{vertical-align: -1.18ex;}
.n69m46{vertical-align: -0.604ex;}
.n69m47{vertical-align: -0.592ex;}
.n69m48{vertical-align: -2.49ex;}
.n69m49{vertical-align: -0.332ex;}
.n69m50{vertical-align: -1.27ex;}
.n69m51{vertical-align: -0.804ex;}
.n69m52{vertical-align: -2.532ex;}
.n69m53{vertical-align: -2.355ex;}
.n69m54{vertical-align: -3.043ex;}
.n69m55{vertical-align: -3.995ex;}
.n69m56{vertical-align: -0.605ex;}
.n69m57{vertical-align: -0.972ex;}
.n69m58{vertical-align: -0.109ex;}
.n69m59{vertical-align: -0.799ex;}
.n69m60{vertical-align: -0.867ex;}
.n69m61{vertical-align: -0.898ex;}
.n69m62{vertical-align: -0.71ex;}
.n69m63{vertical-align: 0.079ex;}
.n69m64{vertical-align: -0.589ex;}
.n69m65{vertical-align: -0.416ex;}
.n69m66{vertical-align: -0.865ex;}
.n69m67{vertical-align: -0.662ex;}
.n69m68{vertical-align: -2.779ex;}
.n69m69{vertical-align: -0.97ex;}
.n69m70{vertical-align: -0.079ex;}
.n69m71{vertical-align: -0.027ex;}
.n69m72{vertical-align: -3.659ex;}
.n69m73{vertical-align: -2.75ex;}
.n69m74{vertical-align: -2.138ex;}
.n69m75{vertical-align: -0.811ex;}
.n69m76{vertical-align: -0.36ex;}
.n69m77{vertical-align: -2.389ex;}
.n69m78{vertical-align: -2.136ex;}
.n69m79{vertical-align: -0.904ex;}
.n69m80{vertical-align: -2.678ex;}
.n69m81{vertical-align: -0.066ex;}
.n69m82{vertical-align: -0.564ex;}